body {
	margin: 0;
	background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
}

h3, p {
	margin: 0;
}

.container {
	width: 50%;
	margin: 0 auto;
	padding: 50px 0;
}

.contact-item {
	background-color: #ffffff;
	overflow: hidden;
	padding: 15px;
	margin: 0 0 15px;
}

.avatar {
	float: left;
	width: 128px;
	height: 128px;
	margin-right: 35px;
	border-radius: 50%;
}

.main-content {
	padding: 15px 0;
	font-family: Cairo, sans-serif;
}
