@media (min-width: 641px) {
  .menu__button {
    display: none;
  }

  .title {
    font-size: 45px;
  }
}

@media (max-width: 640px) {
  .menu__list {
    display: none;
  }

  .title {
    font-size: 24px;
  }
}
