body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: Roboto, sans-serif;
  color: #333333;
}

.container {
  max-width: 1280px;
  min-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}

.trophies::after {
  content: "";
  display: block;
  clear: both;
}

.trophy {
  float: left;
  box-sizing: border-box;
  padding: 25px 15px;
  margin-bottom: 15px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.19), 0 15px 34px 0 rgba(0, 0, 0, 0.06);
}

.trophy__img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ffffff;
}

.trophy__name {
  font-weight: 300;
}

.trophy__year {
  color: #999999;
}