@media (min-width: 768px) {

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px) {

  html{
    font-size: 45.138888%;
  }
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  color: #222222
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.courses {
  padding: 5rem 2rem;
}

.course {
  box-shadow: 0 2px 7px 0 hsla(0,0%,4%,.05), 3px 27px 54px -34px rgba(0,0,0,.47);
}

.course:not(:first-of-type) { 
  margin-top: 5rem;
}

.course__img, source {
  display: block;
  max-width: 100%;
}

.course__name {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

@media (min-width: 641px) {
  
  .course {
    display: flex;
    align-items: center;
  }

  .course__preview {
    flex: none;
  }
}

@media (max-width: 1279px) {

  .course__info {
    padding: 20px;
  } 
}

@media (min-width: 1280px) {

  .courses {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .course__info {
    padding: 30px 60px;
  } 
}