.container {
  width: 70.279%;
	max-width: 1300px;
	min-width: 768px;
  padding: 15px 10px;
  box-sizing: border-box;
}

.card {
  width: calc(50% - 10px);
  padding: 30px 20px;
  border: 1px solid #d5d4d4;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card:nth-child(even) {
  margin-left: 10px;
}

.card:nth-child(odd) {
  margin-right: 10px;
}
