body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

.page {
  background-image: linear-gradient(to right, #034378, #2d4e68);
  padding: 50px;
  min-width: 768px;
}

.container {
  max-width: 1000px;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.container::after {
  content: '';
  display: block;
  clear: both;
}

.card {
  float: left;
  position: relative;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #ffffff;
}

.card__img {
  max-width: 100%;
  display: block;
}

.card__date {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.card__info {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #000000, transparent);
}

.card__name {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
}