body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.profile {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.profile__avatar {
  max-width: 100%;
  display: block;
}

.profile__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
}

.profile__post {
  font-weight: 400;
  display: block;
  font-size: 0.4em;
  margin-top: .5em;
}

.profile__contacts {
  margin-top: 1.25em;
}  

.profile__contact {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;

  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;  
  color: #ffffff;
  
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.profile__contact:nth-child(3n+2) {
  margin-right: 1em;
  margin-left: 1em;
}

.profile__contact_facebook {
  background-image: url("../img/facebook_white.svg");
}

.profile__contact_twitter {
  background-image: url("../img/twitter_white.svg");
}

.profile__contact_instagram {
  background-image: url("../img/instagram_white.svg");
}

@media (min-width: 1301px), (max-width: 767px) {

  .profile {
    position: relative;
  }

  .profile__preview:before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  .profile__body {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);    
  }  
}

@media (min-width: 768px) and (max-width: 1300px) {

  .profile {
    padding: 30px;
  }

  .profile__preview {
    margin: 0 auto 20px;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  
  .profile {
    font-size: 12px;
  }
}