@media (min-width: 480px) {
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 480px) and (max-width: 959px) {
  
  .card {
    width: 50%;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  
  .card {
    width: 25%;
  }
}

@media (min-width: 1281px) {
  
  .card {
    width: 20%;
  }
}