.popup__close {
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: absolute;
  top: -1.5em;
  right: 0;
}

.popup__close:before, .popup__close:after {
  width: 1.4em;
  height: 0.2em;
}

@media (max-width: 481px) {
  .popup__close {
    font-size: 15px;
  }
}
