html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poiret One, Arial, sans-serif;
}

.header {
  min-height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
  color: #f1f1f1;
  background: linear-gradient(to right, #7474bf, #348ac7);
}

@media screen and (max-width: 1023px){

  .header{
    background: linear-gradient(to right, #3498db, #9054a9);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.panel {
  border-bottom: 1px solid #999;
  padding: 25px 20px;
  margin-bottom: 150px;
}

.panel:after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Prosto One, cursive;
  font-size: 28px;
  color: inherit;
}

.logo__label {
  color: #cddc39;
}

.menu {
  margin-top: 7px;
  float: right;
}

.menu__item {
  font-size: 18px;
  margin-left: 30px;
  color: inherit;
  text-decoration: none;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__item:hover {
  color: #cddc39;
}

.slogan {
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 62px;
  position: relative;
  padding-bottom: 30px;
}

.slogan::after {
  content: "";
  width: 150px;
  height: 8px;
  background-color: #cddc39;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -75px;
}
