@media (min-width: 768px) {
  html{
    font-size: 62.5%;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

p {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  html{
    font-size: 50%;
  }
}
