body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.news {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 15px;
}

.news__title {
  font-size: 1.625em;
  margin-bottom: 1em;
}

.news__card {
  position: relative;
  padding-bottom: 4.375em;
  border-bottom: 1px solid #E2E3E4;
  margin-top: 35px;
}

.news__card:nth-of-type(1) {
  margin-top: 0;
}

.news__card-title {
  font-size: 1.25em;
}

.news__meta {
  position: absolute;
  left: 0;
  bottom: 1.875em;
}

@media (min-width: 641px) {

  .news {
    font-size: 16px;
  } 
  
  .news__card {
    width: 43%;
  }

  .news__card:nth-of-type(2) {
    margin-top: 0;
  }
}

@media (max-width: 640px) { 

  .news {
    font-size: 12px;
  }
}