.section__title {
  font-size: 2em;
}

.post__name {
  font-size: 1.5em;
  margin: auto;
}

@media (min-width: 481px) {
  .section__header {
    font-size: 0.75em;
  }

  .post {
    font-size: 0.875em;
  }
}

@media (max-width: 480px) {
  .section__header {
    font-size: 0.625em;
  }

  .post {
    font-size: 0.75em;
  }
}
