html, body{
  height: 100%;
}

body {
  margin: 0;
  font-family: Poiret One, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 1300px;
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  color: #f1f1f1;
  background: #7474bf;
  background: linear-gradient(to right, #7474bf, #348ac7);
}

.container {
  width: 980px;
  margin: 0 auto;
}

.panel{
  overflow: hidden;
  border-bottom: 1px solid #999;
  padding: 25px;
  margin-bottom: 150px;
}

.logo {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-family: Prosto One, cursive;
}

.logo span {
  color: #cddc39;
}

.menu-block {
  padding: 5px 0;
  float: right;
}

.menu-item {
  font-size: 18px;
  padding: 5px 15px;
  transition: color 0.4s;
}

.menu-item:last-child {
  padding-right: 0;
}

.menu-item:hover {
  color: #cddc39;
  transition: color 0.4s;
}

.main-title {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 62px;
}

.main-title::after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 8px;
  background: #cddc39;
}
